# Taller 2  Gestión de Datos - Pontificia Universidad Javeriana

Integrantes:
 - Laura Carolina Tinjacá Cristancho 
 - Andrés Leonardo Medina Quijano

# Instalación e importación de librerías

In [ ]:
!pip install --upgrade google-cloud-bigquery

In [ ]:
!pip install pandas-gbq

In [ ]:
!pip install db-dtypes

In [ ]:
# Importamos las librerías a utilizar
import pymongo

import pandas as pd
import matplotlib.pyplot as plt

from google.cloud import bigquery
from google.oauth2 import service_account

# Manejo de datos

## Llamado a la fuente de datos

In [ ]:
# Llamamos la BD y la colección movies de Mongo
DB_NAME = "sample_mflix"
COLLECTION = "movies"

In [ ]:
# Realizamos la conexión a Mongo
client = pymongo.MongoClient("mongodb+srv://lctc:palestina@cluster0.689j9e0.mongodb.net/?retryWrites=true&w=majority", server_api = pymongo.server_api.ServerApi('1'))

In [ ]:
# Asignamos la BD a una variable
db = client[DB_NAME]

In [ ]:
# Asignamos la colección a una variable
col = db[COLLECTION]

### Definición de dataframes

### Películas

In [ ]:
# Definimos las columnas que hacen parte de la tabla movies
movie = col.find({}, {"_id": 1, "title": 1, "year": 1, "awards.wins": 1, "awards.nominations": 1, "runtime": 1})

In [ ]:
# Renombramos las columnas del dataframe creado
df_movies = pd.json_normalize(movie).rename(columns = {"awards.wins": "wins", "awards.nominations": "nominations"})

In [ ]:
# Verificamos los registros y columnas de la tabla movies
df_movies.shape

In [ ]:
# Previsualización de los datos de la tabla movies
df_movies.head()

### Géneros de películas

In [ ]:
# Definimos las columnas que hacen parte de la tabla genres
genre = col.find({}, {"_id": 1, "genres": 1})

In [ ]:
# Asignamos los datos como dataframe
df_genres = pd.json_normalize(genre).rename(columns = {"_id" : "id_movie"})

In [ ]:
# Verificamos los registros y columnas de la tabla genres
df_genres.shape

In [ ]:
# Previsualización de los datos de la tabla generos
df_genres.head()

In [ ]:
# Creación de un nuevo Dataframe para almacenar los generos procesados
df_genres_final = pd.DataFrame(columns = ['id_movie', 'genre'])

In [ ]:
# Función para recorrer cada valor de la columna de géneros y guardarlos como una fila nueva en otro Dataframe
def array_to_row(row):
    genres=row['genres']
    for x in genres:
        df_genres_final.loc[len(df_genres_final.index)] = [row['id_movie'], x]

In [ ]:
# Llamado a la función para procesar los géneros
df_genres.apply(array_to_row,axis=1)

In [ ]:
# Previsualización de los datos de la tabla generos definitiva
df_genres_final.head(10)

### Países de películas

In [ ]:
# Definimos las columnas que hacen parte de la tabla countries
countries = col.find({}, {"_id": 1, "countries": 1})

In [ ]:
# Asignamos los datos como dataframe
df_countries = pd.json_normalize(countries).rename(columns = {"_id" : "id_movie"})

In [ ]:
# Verificamos los registros y columnas de la tabla countries
df_countries.shape

In [ ]:
# Previsualización de los datos de la tabla países
df_countries.head(10)

In [ ]:
# Eliminar las películas que no tengan ningún país asociado
df_countries.dropna(inplace=True)

In [ ]:
# Creación de un nuevo Dataframe para almacenar los generos procesados
df_countries_final = pd.DataFrame(columns = ['id_movie', 'country'])

In [ ]:
# Función para recorrer cada valor de la columna de géneros y guardarlos como una fila nueva en otro Dataframe
def array_to_row_countries(row):
    countries=row['countries']
    for x in countries:
        df_countries_final.loc[len(df_countries_final.index)] = [row['id_movie'], x]

In [ ]:
# Llamado a la función para procesar los géneros
df_countries.apply(array_to_row_countries,axis=1)

In [ ]:
# Previsualización de los datos de la tabla países definitiva
df_countries_final.head(10)

# Calificaciones de la crítica

In [ ]:
# Definimos las columnas que hacen parte de la tabla raiting
rating = col.find({}, {"_id": 1, "imdb.rating": 1, "tomatoes.viewer.rating": 1})

In [ ]:
# Asignamos los datos como dataframe
df_raiting = pd.json_normalize(rating).rename(columns = {"_id" : "id_movie", "imdb.rating" : "imdb_rating", "tomatoes.viewer.rating" : "tomatoes_rating"})

In [ ]:
# Verificamos los registros y columnas de la tabla countries
df_raiting.shape

In [ ]:
df_raiting.head(5)

In [ ]:
# Rellenar los valores no definidos con cero
df_raiting['imdb_rating'].fillna(0,inplace=True)
df_raiting['tomatoes_rating'].fillna(0,inplace=True)

In [ ]:
df_raiting